.container {
    position: relative;
    z-index: 5;

    width: 100%;
    margin-bottom: -1px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 2px;

    font-weight: bold;
}

.item-container {
    padding: 4px 14px;

    height: 52px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--border-color);
    border-radius: 10px 10px 0px 0px;
    color: var(--text-secondary-color);
    background-color: var(--background-secondary-color);

    cursor: pointer;
}

.item-container.active {
    height: 58px;
    border-bottom: 1px solid var(--background-secondary-color);
    color: var(--text-primary-color);
}

.item-container.active > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-container.active span {
    padding-left: 2px;
    color: inherit;
    transition-duration: 0.3s;
}

.item-container.active span:hover {
    color: var(--active-color);
}

.add-group {
    height: 58px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--active-color);
    cursor: pointer;
}
