.container {
    width: 650px;
    margin-inline: auto;
    padding: 8px 0px;
}

.title {
    font-weight: bold;
    font-size: var(--font-l);
}

.necessary-mark {
    color: var(--active-color);
    cursor: default;
}
